services:
  db:
    image: mysql:latest
    container_name: rental-db

#    env_file:
#      - '.env'
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

    volumes:
      - mysql_data:/var/lib/mysql

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      start_interval: 10s
      start_period: 10s
      timeout: 5s
      retries: 3


#  app:
#    depends_on:
#      - db:
#          condition:
#            healthy


    ports:
      - "33066:3306"


volumes:
  mysql_data: